.axis path,
.axis line {
	  fill: none;
	    stroke: #000;
	      shape-rendering: crispEdges;
      }

      .bar {
	        fill: orange;
	}

	.bar:hover {
		  fill: orangered ;
	  }

	  .x.axis path {
		    display: none;
	    }
